{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Create a new Meter Reading! </h1>
    {{ include('admin_meter_reading/_form.html.twig',{
        button_text:'Create!'
    }) }}
{% endblock %}
