{% extends 'content_base.html.twig' %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ path('electric_list') }}"> View Electric </a>
        </div>
        <div class="col-sm-12">
            <a href="{{ path('heater_list') }}"> View Heater </a>
        </div>
    </div>
{% endblock %}
