{% extends 'content_base.html.twig' %}

{% block content_body %}
    <table class="table">
        <thead>
            <tr>
                <th>SI.No</th>
                <th>Meter</th>
                <th>Heizung</th>
            </tr>
        </thead>
        <tbody>
        
                <tr>
                    <td>1</td>
                    <td>View Meter Reading Details</td>
                    <td>View Heizung Reading Details</td>
                </tr>
           
        </tbody>
    </table>
{% endblock %}
