{% extends 'content_base.html.twig' %}

{% block content_body %}
    
    <h1>All Heater Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th>SI.No</th>
                <th>Room</th>
                <th>Heizung No</th>
                <th>Year Reading<th>
                <th>Date</th>
                <th>Current Reading<th>
            </tr>
        </thead>
        <tbody>
            
                
            
        </tbody>
    </table>
{% endblock %}
