{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Edit this Yearly Heater Reading! </h1>
    {{ include('admin_year_heater/_form.html.twig',{
        button_text:'Update!'
    }) }}

{% endblock %}