{% extends 'content_base.html.twig' %}

{% block content_body %}
    <div class="row">
            <div class="col-sm-12 pt-3">
                <div>
                    <a href="{{ path('admin_room_new') }}" class="btn btn-primary">Add New Record</a>
                </div>
            </div>
    </div>
    <h2 class="overview-headline">All Available Room</h2>
    <table class="table">
        <thead>
            <tr>
                <th>SI.No</th>
                <th>Room Name</th>
                <th>Actions<th>
            </tr>
        </thead>
        <tbody>
                <td>1</td>
                <td>some data</td>
                <td>
                <button>
                  <a href="" style="color:green">
                    Edit
                  </a>
                </button>
                <button>
                  <a href="" style="color:red">  
                    Delete
                  </a>
                </button>
            </td>
            
        </tbody>
    </table>
    
{% endblock %}


