{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Create a new RoomData! </h1>
    {{ form_start(roomForm) }}
        {{ form_widget(roomForm) }}
        <button type="submit" class="btn btn-primary">Create!</button>
        <a href="{{ path('admin_room') }}"><p class="text-center"><i class="fa fa-undo"></i> Back to List</p></a>
    {{ form_end(roomForm) }}
{% endblock %}
