{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Create a new Room! </h1>
    {{ include('admin_room/_form.html.twig',{
        button_text:'Create!'
    }) }}

{% endblock %}
